/* ----- --------------- ----- */
/* ----- General Styling ----- */
/* ----- --------------- ----- */

/* Site Logo */
a.logo {
	width: 200px !important;
	height: 60px !important;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("/images/Hub/UHUB_Logo.png")
}